
{% extends "base.html" %}
{% block title %}survey{% endblock %}

{% block content %}

<h1> Welcome to the Survey hey hey </h1>
<form class="pure-form pure-form-stacked" action="thanks">
	<fieldset>

		<label for="text" class="pure-text"> This is the text input
			<input type="text" placeholder="text input" required />
		</label>

		<label for="radio" class="pure-radio"> Favorite photo of dog?
			<br>
			<input type="radio" value="Option 1"/> Option 1
			<input type="radio" value="Option 2"/> Option 2
			<input type="radio" value="Option 3"/> Option 3
		</label>

		<label for="selectbox" class="pure-selectbox"> This is the selectbox
			 <select name="cars">
					 <option value="volvo">Volvo</option>
					 <option value="saab">Saab</option>
					 <option value="fiat">Fiat</option>
					 <option value="audi">Audi</option>
			 </select>
		</label>


		<label for="checkbox" id="secret" class="pure-checkbox" onclick="showlastQ()"> Would you like to see the secret question?

			<input type="checkbox"/> Yes.
		</label>

		<label for="checkbox" id="lastQ"  class="pure-checkbox" style="display:none"> Did you enjoy this quiz?

			<input type="checkbox" name="enjoy"/> Yes.
		</label>

		<button type="submit" class="pure-button pure-button-primary">Submit survey</button>
	</fieldset>
</form>

<script>
function showlastQ() {

	 if(document.getElementById('lastQ').style.display == "none"){

		document.getElementById('lastQ').style.display = "block";
	 }else{
	document.getElementById('lastQ').style.display = "none";
	 }

}
</script>

{% endblock %}
