
{% extends "base.html" %}
{% block title %}survey{% endblock %}

{% block content %}

<h1> Welcome to the Survey</h1>
<form class="pure-form pure-form-stacked" method="post" action="thanks" >
	<fieldset>

		<label for="text" class="pure-text">1. What is your favorite breed of dog?
			<input type="text" name="q1" placeholder="Breed" required />
		</label>

		<br>

    <div class="row">
			<div class="img-with-text">
    		<img class="pure-img" src="static/lab.jpg">
				<p> Option 1 </p>
			</div>

			<div class="img-with-text">
				<img class="pure-img" src="static/cavalier.jpg">
				<p> Option 2 </p>
			</div>

			<div class="img-with-text">
				<img class="pure-img" src="static/corgi.jpg">
				<p> Option 3 </p>
			</div>

	  </div>

		<br>

		<label for="radio" class="pure-radio">2. Which is your favorite photo of a dog?
			<br>
			<input type="radio" name ="q2" value="Option 1"/> Option 1
			<input type="radio" name="q2" value="Option 2"/> Option 2
			<input type="radio" name="q2" value="Option 3"/> Option 3
		</label>

		<br>

		<label for="selectbox" class="pure-selectbox">3. Do you have a dog?
			 <select name="q3">
					 <option value="Yes.">Yes.</option>
					 <option value="No, but I want a dog.">No, but I want a dog.</option>
					 <option value="No.">No.</option>
			 </select>
		</label>

		<br>

		<label for="checkbox" class="pure-checkbox" >4. Do you have any other pets?

			<input name ="q4" type="checkbox" value="Yes"/> Yes.
			<input name ="q4" type="checkbox" value="No"/> No.
		</label>

		<br>

		<label for="radio" id="secret" class="pure-radio" >5. Would you like to see the secret question?

			<input name ="q5" type="radio" value="Yes" onclick="showlastQ()"/> Yes.
			<input name ="q5" type="radio" value="No"/> No.
		</label>

		<br>

		<label for="radio" id="lastQ"  class="pure-radio" style="display:none">6. Are you a dog person?

			<input type="radio" name="q6" value="Yes"/> Yes.
			<input type="radio" name="q6" value="No"/> No.
		</label>

		<br>

		<button type="submit" class="pure-button pure-button-primary">Submit survey</button>
	</fieldset>
</form>

<script>
function showlastQ() {

	 if(document.getElementById('lastQ').style.display == "none"){

		document.getElementById('lastQ').style.display = "block";
	 }else{
		 document.getElementById('lastQ').style.display = "none";
	 }

}
</script>

{% endblock %}
